@use "../../../variables" as variables;

.main {
  padding: 1em;
  &__header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &-icon {
      height: 3em;
      margin-right: 1em;
    }

    &-searchbar {
      outline: none;
      border: none;
      height: 2em;
      font-size: 1em;
      width: 100%;
      border-radius: 0.5em;
      padding: 0.1em 0.2em;
      color: variables.$text-color;
      background-color: variables.$background-color-tint;
      box-shadow: 0px 0px 5px variables.$background-color-shadow;
    }
  }

  &__list {
    height: calc(95vh - 5em);
    overflow: hidden;
    overflow-y: auto;
    padding: 0px 0.5em;
    list-style: none;
  }

  &__item {
    &::marker,
    &::-webkit-details-marker {
      content: "";
      display: none;
    }
    color: variables.$text-color;
    box-shadow: 0px 0px 5px variables.$background-color-shadow;
    background-color: variables.$background-color-tint;
    box-sizing: border-box;
    margin: 1em 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
  }

  &__errorText {
    color: variables.$text-color;
  }

  & ::ng-deep .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: variables.$text-color;
  }
}
